<!--
  Generated template for the ViewCommunityPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>view-community</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <img src="assets/img/communities/{{comm_pic}}" align="center" height="150" width="250" />
  <h5>{{comm_name}}
    <button ion-button style="float: right" small *ngIf="join_button" (click)="onJoin()" color="danger">Join Now</button>
    <button ion-button style="float: right" small *ngIf="leave_button" (click)="doConfirm()" color="danger">Leave Community</button>
  </h5>
  <!--<button ion-button style="float: right" (click)="onJoin()" color="danger" small>Join Now</button>-->
  <h6>{{cnt_member}} Members are joined</h6>
  <ion-segment [(ngModel)]="Community" padding>
    <ion-segment-button value="posts">
      Posts
    </ion-segment-button>
    <ion-segment-button value="details">
      Details
    </ion-segment-button>
    <ion-segment-button value="members">
      Members
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="Community">
    <ion-list *ngSwitchCase="'details'">
      <ion-item>
        <h4> {{comm_member_count}} Members</h4>
      </ion-item>
      <ion-item>
        <h4>
          <ion-icon name="calendar"></ion-icon> {{comm_date | date:'dd-MM-yy'}} </h4>
      </ion-item>
      <ion-item>
        <h4>
          <ion-icon name="star"></ion-icon> {{comm_rating}} </h4>
      </ion-item>
      <ion-item>
        <h4>
          <ion-icon name="person">Created by </ion-icon> {{created_by}} </h4>
      </ion-item>
      <h4>Community Description: {{comm_des}}</h4>
    </ion-list>


    <ion-list *ngSwitchCase="'posts'">
      <ion-item (click)="onAddPost()">
        <ion-avatar item-start>
          <img src="{{user_pic}}">
        </ion-avatar>
        <h2>{{user_name}}</h2>
        <p>Add a new Post</p>
      </ion-item>
      <ion-card *ngFor="let item of comm_post_user">
        <ion-thumbnail item-start>
          <img src="{{item.post_pic}}" (click)="onPostClick(item)">
        </ion-thumbnail>
        <ion-card-content (click)="onPostClick(item)">
          <p class="text-wrap">{{item.post_title}}</p>
        </ion-card-content>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'members'">

      <ion-list *ngFor="let item of comm_comm_member">
        <ion-item>
          <ion-avatar item-start>
            <img src="{{item.user_pic}}">
          </ion-avatar>
          <h2>{{item.fk_user_id}}</h2>

        </ion-item>
      </ion-list>
    </ion-list>

  </div>

</ion-content>
