<!--
  Generated template for the CreateCommunityPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="signcolor">
    <ion-title>Create Community</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem()">
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="getPicture()">
      <div class="profile-image-placeholder" *ngIf="!this.form.controls.profilePic.value">
        <ion-icon name="add"></ion-icon>
        <div>
          {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
        </div>
      </div>
      <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilePic.value"></div>
    </div>

    <ion-list>
      <ion-item>
        <ion-label floating>{{ 'Add Community Title' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="comm_title" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Add Community Description' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="comm_des" formControlName="name"></ion-input>
      </ion-item>
   

    <ion-item>
      <ion-label floating>{{ 'Community Picture' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="comm_pic" formControlName="name"></ion-input>
    </ion-item>

  </ion-list>
  <button ion-button color="meetup" (click)="onCreate()" block>{{ 'Create Event' | translate }}</button>
  </form>
</ion-content>