<ion-header>

  <ion-navbar color="signcolor">
    <ion-title>Communities</ion-title>
    <ion-buttons start>
      <button (click)="onSearchIcon()" ion-button icon-only>
        <ion-icon name='search'></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
        <button ion-button icon-only (click)="addCommunity()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-searchbar *ngIf="flag" [(ngModel)]="txtsearch" (keyup)="onSearch()" placeholder="Search by community"></ion-searchbar>
  <ion-card *ngFor="let item of arr ">
      <!--  <img src="assets/img/cjpg.jpg"/>-->
      <ion-row>
        <ion-col col-2>
      <img src="assets/img/communities/{{item.comm_pic}}"  (click)="onView(item.comm_id)" height="50" width="50"/>
    </ion-col>
    <ion-col col-10>
        <ion-card-content>
          <ion-card-title (click)="onView(item.comm_id)">
            <h4>{{item.comm_name}}</h4>
            <h5>Is created by : {{item.created_by}}</h5>
            <button  ion-button  (click)="onJoin(item.comm_id)" color="danger" small>Join Now</button>
            </ion-card-title>
        </ion-card-content>
      </ion-col>
    </ion-row>
      </ion-card>

 <!--  <ion-card>
        
            <img src="assets/img/cjpg.jpg" />
        
            <ion-card-content>
              <ion-card-title>
                Community 1
              </ion-card-title>
              
            </ion-card-content>
        
            <ion-item>
              <ion-icon name='people' item-start style="color: #d03e84"></ion-icon>
              Group Members
              <ion-badge item-end>9</ion-badge>
            </ion-item>

            <button ion-button block >Join Now</button>
        
          </ion-card>-->
            <!--<ion-item>
              <ion-icon name='logo-twitter' item-start style="color: #55acee"></ion-icon>
              Followers
              <ion-badge item-end>260k</ion-badge>
            </ion-item>-->
        
       

</ion-content>