<!--
  Generated template for the ViewEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-navbar>
      <ion-title></ion-title>
    </ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="onSharing()">
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>


<ion-content padding>

  <ion-item (click)="onView()">
    <ion-avatar item-start>
      <img src="https://letsmeetbackend.herokuapp.com/images/communities/{{comm_pic}}">
    </ion-avatar>
    <h2>{{comm_name}}</h2>
    <!--<p>November 5, 1955</p>-->
  </ion-item>

  <img src="https://letsmeetbackend.herokuapp.com/images/events/{{event_pic}}" />
  <h1>{{event_name}}</h1>
  <ion-item *ngIf="join_button">
    <h2>Are you going?</h2>
    <ion-buttons end>
      <button small ion-button icon-only (click)="onClickRSVP()" color="success">
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-item>

  <ion-item *ngIf="going_button">
    <h2>You're going!</h2>
    <ion-buttons end>
      <button ion-button small icon-only (click)="doConfirm()" color="danger">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>

  </ion-item>

  <div padding>
    <ion-segment [(ngModel)]="viewEvent">
      <ion-segment-button value="event_detail">
        Details
      </ion-segment-button>
      <ion-segment-button value="feedback">
        Feedback
      </ion-segment-button>
      <ion-segment-button value="going_cnt">
        {{cnt_rsvp}} are going
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="viewEvent">
    <ion-list *ngSwitchCase="'event_detail'">
      <ion-item>
        <h3>
          <ion-icon name="calendar" item-start></ion-icon> {{event_date | date:'dd-MM-yy' }}
        </h3>
      </ion-item>

      <ion-item>
        <h4>
          <ion-icon name="time" item-start></ion-icon> {{event_s_time}} - {{event_e_time}}
        </h4>
      </ion-item>

      <ion-item>
        <h3 class="text-wrap">
          <ion-icon name="navigate" item-start></ion-icon> {{event_loc}}
        </h3>
      </ion-item>

      <ion-item>
        <h3 (click)="showuser(u_id)">
          <ion-icon name="person" item-start> Hosted by</ion-icon> {{created_by}}
        </h3>
      </ion-item>

      <p>{{event_des}}</p>
    </ion-list>

    <ion-list *ngSwitchCase="'feedback'">
      <ion-item>
        <ion-avatar item-start>
          <img src="https://letsmeetbackend.herokuapp.com/images/users/{{user_pic}}">
        </ion-avatar>
        <h2>{{user_name}}</h2>
        <p (click)="changeFlag()" *ngIf="flag1;else textAreaBox">Add a new Fedback</p>
        <ng-template #textAreaBox>
          <textarea placeholder="Add a new Fedback" [(ngModel)]="feed_des" name="" id="" cols="14" rows="3"></textarea>
          <button ion-button icon-only (click)="newFeedback()">
            <ion-icon name="happy"></ion-icon>
          </button>
        </ng-template>
      </ion-item>
      <ion-card>
        <ion-item *ngFor="let item of feedback_event_user">
          <ion-avatar item-start>
            <img src="https://letsmeetbackend.herokuapp.com/images/users/{{item.user_pic}}" (click)="showuser(item.user_id)">
          </ion-avatar>
          <h2 (click)="showuser(item.user_id)">{{item.user_name}}</h2>
          <p>{{item.feed_date | date:'mediumDate'}}</p>
          <ion-card-content>
            <p class="text-wrap">{{item.feed_des}}</p>
          </ion-card-content>
          <button *ngIf="item.user_id==user_id" (click)="deleteFeedback(item.feed_id)" ion-button icon-only item-end clear>
            <ion-icon name="trash"></ion-icon>
          </button>
          <!--<button *ngIf="item.user_id==user_id" (click)="updateFeedback(item.feed_id)" ion-button icon-only item-end clear>
            <ion-icon name="create"></ion-icon>
          </button>-->
        </ion-item>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'going_cnt'">
      <ion-item *ngFor="let item of event_rsvp_user" (click)="showuser(item.user_id)">
        <ion-avatar item-left>
          <img src="https://letsmeetbackend.herokuapp.com/images/users/{{item.user_pic}}">
        </ion-avatar>
        <h2>{{item.user_name}}</h2>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
