<ion-header>

  <ion-navbar color="signcolor">
    <!--<ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>-->
    <ion-title>Upcoming Events</ion-title>
    <ion-buttons start>
      <button (click)="onSearchIcon()" ion-button icon-only>
        <ion-icon name='search'></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<!--<h1>Hello</h1>
  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.about}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>-->

<!--<ion-content class="cards-bg">

  <ion-card *ngFor="let item of arr">

    <img src="{{item.event_pic}}" (click)="onClick(item.event_id)" />

    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-card-title (click)="onClick(item.event_id)">
            {{item.event_name}}
          </ion-card-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button class="align-button" ion-button block icon-left color="danger" item-end>
            <ion-icon name="add"></ion-icon>
            Join Event
          </button>
        </ion-col>

      </ion-row>
    </ion-card-content>-->
<ion-content>
  <ion-searchbar *ngIf="flag"  [(ngModel)]="txtsearch" (keyup)="onSearch()" placeholder="Search by Events"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of arr" class="text-wrap">
      <ion-avatar item-start>
        <img src="{{item.event_pic}}" (click)="onClick(item.event_id)">
      </ion-avatar>
      <h2 class="text-wrap" (click)="onClick(item.event_id)">{{item.event_name}}</h2>
      <h3 class="text-wrap">{{item.comm_name}}</h3>
      <p class="text-wrap">{{item.event_date | date:'fullDate'}},{{item.event_s_time}}</p>
      <button ion-button (click)="onRSVP(item.event_id)" *ngIf="join_button" color="danger" clear item-end>Join Event</button>
      <button ion-button (click)="onRemoveRSVP(item.event_id)" *ngIf="going_button" clear item-end>Going</button>
    </ion-item>
  </ion-list>


</ion-content>
