page-list-master {
  .align-button {
    float: center;
  }
  .wrapping-list {
    overflow: initial;
    white-space: initial;
  }

  .text-wrap{
    white-space: normal
  }
  /*ion-card {
        position: relative;
        //text-align: center;
      }*/
  /* .event-img{
          opacity: 0.7;
      }*/
  /*.card-title {
        position: absolute;
        left:10%;
        top: 3%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: black;
      }
    
      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        left: 20%;
        top: 2
        2%;
        width: 100%;
        color: black;
      }*/
}
