<ion-header>

  <ion-navbar color="signcolor">
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="addItem()">

    <ion-list>
      <ion-item>
        <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
        <div class="profile-image-wrapper" (click)="getPicture()">
          <div class="profile-image-placeholder" *ngIf="!this.form.controls.image.value">
            <ion-icon name="add"></ion-icon>
            <div>
              {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
            </div>
          </div>
          <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.image.value"></div>
        </div>
      </ion-item>
      
      <ion-item>
        <ion-label floating color="red">Email</ion-label>
        <ion-input type="email" formControlName="eid" [(ngModel)]="eid"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>UserName</ion-label>
        <ion-input type="text" formControlName="uname" [(ngModel)]="uname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="passowrd" formControlName="pass" [(ngModel)]="pass"></ion-input>
      </ion-item>

      <ion-list radio-group formControlName="gender" [(ngModel)]="gender">
        <ion-item>
          <ion-label>Male</ion-label>
          <ion-radio value="Male"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Female</ion-label>
          <ion-radio value="Female"></ion-radio>
        </ion-item>
      </ion-list>

      <ion-item>
        <ion-label floating>Mobile No</ion-label>
        <ion-input type="text" formControlName="mobile" [(ngModel)]="mobile"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime displayFormat="DD/MMMM/YYYY" pickerFormat="DD MMMM YYYY" formControlName="myDate" [(ngModel)]="myDate"></ion-datetime>
      </ion-item>

      <div padding>
        <button ion-button color="meetup" (click)="onClick()" [disabled]="!isReadyToSave" block>{{ 'SIGNUP_BUTTON' | translate }}</button>
      </div>

    </ion-list>
  </form>
</ion-content>

<!--<ion-item>
        <ion-label fixed>{{ 'NAME' | translate }}</ion-label>
         <ion-input type="text" [(ngModel)]="account.name" name="name"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label fixed>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
      </ion-item>
    -->
<!--
      Want to add a Username? Here you go:

      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
      </ion-item>
      -->
<!--
      <ion-item>
        <button ion-button color="primary" (click)="onfile()"block>{{ 'Image' | translate }}</button>  
      </ion-item>-->
