<ion-header>

  <ion-navbar color="signcolor">
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <form *ngIf="form" [formGroup]="form">

    <ion-list>
      <ion-item>
        <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
        <div class="profile-image-wrapper" (click)="getPicture()">
          <div class="profile-image-placeholder" *ngIf="!this.form.controls.profilePic.value">
            <ion-icon name="add"></ion-icon>
            <div>
              {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
            </div>
          </div>
          <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilePic.value"></div>
        </div>
        <div *ngIf="!this.form.controls.profilePic.valid  && this.form.controls.profilePic.dirty">
          <p class="error">Please Choose an Image.</p>
        </div>
      </ion-item>

      <ion-item>
        <ion-input type="email" formControlName="eid" [(ngModel)]="eid" placeholder="Enter Email ID"></ion-input>
      </ion-item>
      <div *ngIf="!this.form.controls.eid.valid  && this.form.controls.eid.dirty">
        <p class="error">Please Enter Email ID.</p>
      </div>

      <ion-item>
        <ion-input type="text" formControlName="uname" placeholder="UserName" [(ngModel)]="uname"></ion-input>
      </ion-item>
      <div *ngIf="!this.form.controls.uname.valid  && this.form.controls.uname.dirty">
        <p class="error">Please Enter User Name.</p>
      </div>

      <ion-item>
        <ion-input type="password" formControlName="pass" placeholder="Enter Password" [(ngModel)]="pass"></ion-input>
      </ion-item>
      <div *ngIf="!this.form.controls.pass.valid  && this.form.controls.pass.dirty">
        <p class="error">Please Enter Password between 6-10.</p>
      </div>
      <div *ngIf="!this.form.controls.pass.minlength  && this.form.controls.pass.dirty">
        <p class="error">Please Enter Password with minimum length of 6.</p>
      </div>

      <ion-list radio-group formControlName="gender" placeholder="Select Gender" [(ngModel)]="gender">
        <ion-list-header>
          Gender:
        </ion-list-header>
        <ion-item>
          <ion-label>Male</ion-label>
          <ion-radio value="Male"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Female</ion-label>
          <ion-radio value="Female"></ion-radio>
        </ion-item>
      </ion-list>
      <div *ngIf="!this.form.controls.gender.valid && this.form.controls.gender.dirty ">
        <p class="error">Please select gender.</p>
      </div>

      <ion-item>
        <ion-input type="text" formControlName="mobile" placeholder="Enter Mobile No" minlength="6" maxlength="10" [(ngModel)]="mobile"></ion-input>
      </ion-item>
      <div *ngIf="!this.form.controls.mobile.valid  && this.form.controls.mobile.dirty">
        <p class="error">Please Enter Mobile No.</p>
      </div>

      <ion-item>
        <ion-label>Birth Date:</ion-label>
        <ion-datetime displayFormat="DD/MMMM/YYYY" pickerFormat="DD MMMM YYYY" formControlName="myDate" [(ngModel)]="myDate"></ion-datetime>
      </ion-item>
      <div *ngIf="!this.form.controls.myDate.valid  && this.form.controls.myDate.dirty">
        <p class="error">Please Enter Birthday.</p>
      </div>

      <div padding>
        <button ion-button color="meetup" (click)="onClick()" [disabled]="!isReadyToSave" block>{{ 'SIGNUP_BUTTON' | translate }}</button>
      </div>

    </ion-list>
  </form>
</ion-content>
