<!--
  Generated template for the UsersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="signcolor">
    <ion-title>Welcome, {{eid}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img src="https://letsmeetbackend.herokuapp.com/images/users/{{img}}" height="100" width="100">
      </ion-avatar>
      <h1>{{eid}}</h1>
      <button ion-button round (click)="openModal()">Edit Profile</button>
    </ion-item>
  </ion-list>

  <ion-item (click)="onFollower()">
    <ion-icon name="logo-twitter" item-start></ion-icon>
    Followers
    <ion-badge item-end>{{followercount}}</ion-badge>
  </ion-item>
  <ion-item (click)="onFollowing()">
    <ion-icon name="logo-twitter" item-start></ion-icon>
    Following
    <ion-badge item-end>{{followingcount}}</ion-badge>
  </ion-item>


  <div padding>
    <ion-segment [(ngModel)]="segme">
      <ion-segment-button value="events">
        Events
      </ion-segment-button>
      <ion-segment-button value="commu">
        Communities
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="segme">
    <ion-list *ngSwitchCase="'events'">
      <ion-list-header>
        Attending
      </ion-list-header>
      <ion-list-header></ion-list-header>
      <ion-item *ngFor="let item of arrUpc" (click)="onCLickUpcEvent(item.event_id)">
        <ion-thumbnail item-start>
          <img src="https://letsmeetbackend.herokuapp.com/images/events/{{item.event_pic}}">
        </ion-thumbnail>
        <h2>{{item.event_name}}</h2>
      </ion-item>

      <ion-list-header>
        Attended
      </ion-list-header>
      <ion-item *ngFor="let item of arrPast" (click)="onCLickPastEvent(item.event_id)">
        <ion-thumbnail item-start>
          <img src="https://letsmeetbackend.herokuapp.com/images/events/{{item.event_pic}}">
        </ion-thumbnail>
        <h2>{{item.event_name}}</h2>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'commu'">
      <ion-item *ngFor="let item of arrCommu" (click)="onCLickCommu(item.event_id)">
        <ion-thumbnail item-start>
          <img src="https://letsmeetbackend.herokuapp.com/images/communities/{{item.comm_pic}}">
        </ion-thumbnail>
        <h2>{{item.comm_name}}</h2>
      </ion-item>
    </ion-list>

  </div>

  <ion-list>
    <ion-item (click)="onChangePassword()">
      <ion-avatar item-start>
        <ion-icon></ion-icon>
      </ion-avatar>
      <h2>Change Password</h2>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item (click)="onChangePassword()">
      <h2>
        <ion-icon name="key" md="md-key">&nbsp;&nbsp;</ion-icon> Change Password</h2>
    </ion-item>

    <ion-item (click)="onLogout()">
      <h2>
        <ion-icon name="power" md="md-key">&nbsp;&nbsp;</ion-icon> Log Out</h2>
    </ion-item>
  </ion-list>

</ion-content>
